.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.main-container {
  display: flex;
  justify-content: space-between; /* Ensure form is on left and response is on right */
  width: 100%;
  max-width: 1200px; /* Control the overall width */
}

.form-container {
  display: flex;
  flex-direction: column; /* Keep form items stacked vertically */
  gap: 10px;
  width: 40%; /* Ensure it takes up only 45% of the space */
}

.input-container {
  display: flex;
  flex-direction: column;
}

textarea, select, button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

.response-container {
  display: flex;
  flex-direction: column;
  width: 50%; /* Take up 45% of the space on the right */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-weight: bold;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; /* Reduced the width of the animation */
  height: auto;
}

.brain-animation-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Stack sections vertically on smaller screens */
    width: 100%;
  }

  .form-container, .response-container {
    width: 100%;
  }

  .lottie-container {
    width: 100%; /* Ensure it takes full width on small screens */
  }
}
