.App {
  background-color: white;
  margin: 10px;
}

/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

/* Header Title */
.header-container h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #2F4F4F;
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  /* Stack the children vertically */
  justify-content: center;
  align-items: center;
  /* Center the login form */
  height: 100vh;
  /* Ensure it takes up the full viewport height */
  background-color: white;
  /* Grey background #f2f2f2 */
  padding: 50px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  /* Stack form fields vertically */
  /* Center the form fields */
  justify-content: right;
  width: 100%;
  max-width: 500px;
  /* Set a max-width to prevent it from stretching too much */
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #2F4F4F;
}

/* Admin Access Request */
.admin-access {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
  /* Center the text horizontally */
  width: inherit;
  /* Ensure it takes up full width for proper alignment */
}

/* Logout Button */
.logout-button {
  padding: 8px 16px;
  background-color: #2F4F4F;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #b02a37;
}

.container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.left-container {
  flex: 0 0 40%;
  background-color: inherit;
  box-sizing: border-box;
  padding: 10px;
}

/* Error Message */
.error {
  color: red;
  font-weight: bold;
}

/* Input Fields */
.input-container {
  margin: 10px;
}

.input-container label {
  font-weight: normal;
  color: #2F4F4F;
}

textarea,
select,
input {
  color: #2F4F4F;
  width: 100%;
  padding: 10px;
  margin-block-start: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Ensure proper sizing inside the input */
}

/* Buttons */
.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.login-button {
  padding: 10px;
  margin: 10px;
  margin-block-start: 20px;
  margin-block-end: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-container {
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Reset Button */
.reset-button {
  padding: 10px;
  background-color: #f0ad4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  /* To space it from the submit button */
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #ec971f;
}

/* Toast container */
.Toastify__toast-container {
  font-family: 'Arial', sans-serif;
  z-index: 9999;
}


.right-container {
  flex: 0 0 60%;
  background-color: inherit;
}

/* Container styling */
.loading-message-container {
  text-align: center;
  margin-top: 20px;
}

/* Blinking text animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loading-message {
  font-size: 18px;
  font-weight: bold;
  color: #702963;
  /* Change the color to something vibrant */
  animation: blink 2000ms infinite;
  text-align: center;
}

.brain-animation-container {
  justify-content: left;
}

.lottie-brain-container {
  margin-top: 0px;
  display: flex;

}

/* File Upload Container */
.file-upload-container {
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.file-upload-form input[type="file"] {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}

.file-upload-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.file-upload-button:hover {
  background-color: #0056b3;
}

.file-upload-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}

.url-submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.url-submit-button:hover {
  background-color: #0056b3;
}

.url-submit-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}